$mobile: 'screen and (max-width: 768px)';
$img2x: 'screen and (-webkit-min-device-pixel-ratio: 2), not all, not all, screen and (min-resolution: 2dppx)';
$mobile1024: 'screen and (max-width: 1024px)';